<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Our Trekking Management App</title>
</head>
<body>
    <h1>About Our Trekking Management Application </h1>

    <p> 
        This application helps the customers to book the trekking packages and 
        our staff will help them to manage the trekking packages and also the trekker can view the trekking packages and book the trekking packages.
    </p>

    <ul>
        <li>Admin - Manages treks, users, and staff</li>
        <li>Trek Staff - Manages assigned trekking activities</li>
        <li>Trekker - Books and tracks trekking activities</li>
    </ul>
</body>
</html>